.wayrunnerrc
.emacs.d/bookmarks
.emacs.d/.emacs.d/
.emacs.d/url/
.emacs.d/elpa/
.emacs.d/*~
.emacs.d/\#*
.emacs.d/auto-save-list/
.emacs.d/recentf
.emacs.d/zenburn-theme.el
.emacs.d/init-config/\#*
.emacs.d/init-config/\**
.emacs.d/init-config/*~
.emacs.d/.cache/
.emacs.d/.local/
.emacs.d/transient/