# Insert a blank line between shell prompts
add_newline = true

format = """$directory$git_branch$git_status$nodejs
$character
"""

[character]
success_symbol = "[>](blue)"
error_symbol = "[â¯](red)"

[directory]
style = 'blue'

[git_branch]
format = '[$symbol$branch]($style)'
style = 'red'

[git_status]
format = ' [$all_status$ahead_behind]($style)'
style = 'red'